<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>ChemVis 3D  &#0153;</title>
    <link type="text/css" href="{{STATIC_URL}}basic.css" rel="stylesheet" />
    
  </head> 
  <body>
  <span style="height:30px;font-size: 1.5em;"><a href="/" style="color:white">ChemVis 3D</a> &#0153; - {{view_titel}}</span>
    <br/><br/>
   
    <a href="/space_explorer">Go Back To Viewer ... --> </a><br/>
    <a href="/upload">Upload & Save Mol File</a><br/>
    <a href="/view_compundes">View Compound</a><br/>
    <a href="/similarity">Genrate Similarity Matrix</a><br/>
    <a href="/view_sim">View Similarity Matrix</a><br/>
    <a href="/mds">Run MDS( Multi Dimensional Scaling)</a><br/>
    <a href="/view_mds">View MDS( Postions)</a><br/>
  </body>
</html>

