html{
	height : 100% ;
}


body {
	background-color: #111111;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width : 100% ;
	color: white;
	font: 15px fantasy;
	
}

a {
	color:#0078ff;
}

button{
	height : 28px ;
	font: 9px fantasy;
}


#main_menu_div{
	width:70% ;
	height : 30px ;		
	display:inline-block;
}

#chemical_menu_div{
	width:  100% ;
	height : 100% ;
	float : left ;		
}
.chemical_menu_wrapper{
	height : 85% ;
	width:  16%;
	float : left ;	
}
.details_div_wrapper{
	height : 85% ;
	width:  16%;
	float : right ;	
}
#details_div{
	width: 100% ;
	height : 85% ;
	float : right ;		
}

#canvas_container_div{
	display:inline-block;
	border:1px solid #EFEFEF ;	
	height : 85% ;
	width: 70%;
	align : center ;
	margin : 2px ;
}
#status_div {
	width : 100% ;
	height : 30px ;		
	margin-top : 10px ;	
}

.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 0.8em;
}
